/*
==============================================
Base
==============================================
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
  background: #E2E2E2;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  line-height: 1.2;


}

a {
  color:#fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4{
  margin: 0;
}

h1{
  font-size: 4.1875rem;
}

h2{
  font-size: 3.125rem;
}

h3{
  font-size: 2.3125rem;
}

p{
 font-size: 1.3125rem;
}

.uppercase{
  text-transform: uppercase;
}
/*
==============================================
Layout
==============================================
*/


.main-container{
   margin:0 auto;
   width: 90%;

}
section {
  background: white;
  border-radius: 0.25rem;
  min-height: 12.5rem;
  padding:1.25rem;
  position: relative;
  
}

/*section:nth-child(even){

}*/

footer{
  min-height: 5rem;
  background:gray;
 
}

section, footer, .main-container{
  margin-top: 0.625rem;
}



/*
==============================================
Modules
==============================================
*/

.banner{
  background:url("../img/lucid6.jpg") no-repeat 40px -9.375rem fixed;
  background-size:cover;
  color: white;
  height: 25rem;
  
}

.items{
  padding:0;
}
.item{
  border-left: 6px solid #E5FFD4;
  margin-bottom: 1.25rem;
  padding:0.625rem;
  width: 100%;

}

.item__title{
  color:#8bc349;
  
}

.item__date{
 color:#B6B6B6;

}

.item__detail{
  margin: 0;
  padding-top: 0.625rem;

}

.logo{

}
.logo__headline{
  padding-top:12.5rem;
}
.logo__headline, 
.logo__subheadline{
  margin:0 auto;
  text-align: center;
}

.section__heading{
  background:gray;
  color:white;
  display: inline-block;
  font-size: 21px;
  min-width: 100px;
  padding:10px; 
  position: relative; 
  left:-40px;
  top:-20px;
}


.section__heading:before, #top-bar:after {
    bottom: -24px;
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
}

.section__heading:before {
    border-color: transparent #444 transparent transparent;
    border-style: solid;
    border-width: 0 22px 25px 0;
    height: 0;
    left: -1px;
    width: 0;
}

.section__heading:after {
    border-color: #444 transparent transparent;
    border-style: solid;
    border-width: 25px 22px 0 0;
    height: 0;
    right: -1px;
    width: 0;
}
/*
==============================================
States
==============================================
*/

